.wallpaper
{
    background:
            linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            linear-gradient(to right, rgba(196, 224, 229, 0.3), rgba(76, 161, 175, 0.3)),
            url("https://i.imgur.com/yCxIwzb.png")
            center top;
}

.hy-navbar-light
{
    background-color: rgba(185, 185, 185, 0.36);
}

.hy-container
{
    background: #ffffffbf;
    padding-top: 20px;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    border-radius: 10px;
}

.hy-tab>*>a
{
    color: #000000d1;
}

.rainbow-blue-gradient
{
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.light-blue-gradient
{
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}