nav.hy-navbar
{
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 400;
    justify-content: flex-start;
    min-height: 49px;
    padding: 8.75px 14px;
    position: relative;
    text-align: start;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*height: 49px;
    width: 100%;*/
}

.hy-navbar-brand
{
    align-items: center;
    color: white;
    display: inline-flex;
    font-size: 1.25rem;
    font-weight: 500;
    height: 2.25rem;
    letter-spacing: 0.02em;
    line-height: 1.4em;
    margin-right: 8px;
}

.hy-navbar-brand:hover
{
    color: #ffb6ca;
}

.hy-navbar-nav
{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-right: auto !important;
    margin-top: 0 !important;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.hy-navbar-nav .nav-link
{
    border-radius: 2px;
    color: inherit;
    font-size: 1rem;
    height: 2.25rem;
    line-height: 1;
    opacity: .7;
    padding: .625rem 1rem;
    transition-duration: .3s;
    transition-property: background-color,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.hy-navbar-nav .nav-link:hover
{
    background-color: rgba(0,0,0,.12);
    opacity: 1;
}